@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bg-color: #fcfcfc;
  --primary-color: #ffb400;
  --secondary-color: #ff7235;
  --transition: 0.3s;
}
/* Variables end */

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-color: black;
}

/*nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background: transparent;

}*/

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #00000099;
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}
.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/heroimage.jpg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text h1 {
  font-size: 5rem;
}
.hero-text p {
  font-size: 2rem;
  margin-top: 20px;
  color: var(--primary-color);
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.hero-text button:hover {
  background-color: var(--primary-color);
  color: black;
}
.container {
  max-width: 1170px;
  /* background-color: red; */
  margin: auto;
}

ul {
  list-style: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

/*********** FOOTER **********/

.footer {
  box-sizing: border-box;
  padding: 90px 0;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  width: 100%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .far {
  font-size: 18px;
  margin-right: 10px;
}
form input {
  width: 80%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
  border-radius: 5px;
}
form button {
  background: transparent;
  padding-right: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
}
form .fas {
  font-size: 16px;
  color: #ccc;
}

.underline {
  content: "";
  box-sizing: border-box;
  width: 50%;
  height: 6px;
  bottom: -20px;
  position: absolute;
  background: #767676;
  border-radius: 3px;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 100%;
  bottom: -10px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid hsl(317, 100%, 54%);

  position: absolute;
  top: 0%;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  display: block;
  transition: all 0.4s ease;
}
.footer-col ul li a:hover {
  color: #bbb;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: whitesmoke;
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    padding: 0 15 px;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 50%;
  }
}

@media (max-width: 249px) {
  .underline {
    width: 25%;
  }
}

/* About us */
.section {
  padding-top: 20px;
  width: 100%;
  min-height: 80vh;
  background-color: rgb(0, 0, 0);
}
.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
  color: #fff;
}
.content-section {
  float: left;
  width: 55%;
}
.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;
  height: auto;
  border-radius: 50px;
  transition: all 0.3s;
}
.image-section img:hover {
  transform: scale(1.1) translateY(8px);
}
.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}
.content-section .content h3 {
  margin-top: 20px;
  font-size: 21px;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.content-section .social {
  margin: 10px 0px;
  padding: 10px 10px;
}
.content-section .social i {
  color: var(--primary-color);
  font-size: 30px;
  padding: 10px 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.content-section .social i:hover {
  background: #4475e2;
  color: #fff;
  transform: translateY(5px);
}

@media (max-width: 890px) {
  .hero-text h1 {
    font-size: 3.8rem;
  }
  .hero-text p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero-text h1 {
    font-size: 3.3rem;
  }
  .hero-text p {
    font-size: 1.5rem;
  }

  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button {
    text-align: center;
  }
  .content-section .content .button a {
    padding: 9px 30px;
  }
  .content-section .social {
    text-align: center;
  }
}

/*  PROJECT CARDS  */

.projcards {
  padding: 2rem;
}

.projcards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.projcards > ul > li {
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
}

.projcards > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
}

.projcards > ul > li > figure > img {
  width: 100%;
}

.projcards > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

.projcards > ul > li > figure > figcaption > h3 {
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
}

.projcards > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem 0.75rem;
  color: #9c9797;
}

.projcards > ul > li > a {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.projcards a {
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: 0.25rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;
}

.projcards a:hover {
  opacity: 0.6;
}

.projectstitle{
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-top: 35px;
}